@model IEnumerable<EstacBem.Domain.Entities.Precificacao>


<div class="container">
    <!-- Header -->
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h3 class="font-weight-lighter">Gestão de Precificações</h3>
            <hr />
        </div>
    </div>
    <!-- Link para criar nova precificação -->
    <div class="col-2">
        <a class="btn btn-sm btn-dark d-flex justify-content-center align-items-md-center mb-3 p-2"  asp-action="Create" asp-controller="Precificacoes">
            Cadastrar <i class="fa fa-plus ml-2" aria-hidden="true"></i>
        </a>
    </div>

    <!-- Tabela com as precificações -->
    <div class="row">
        <table class="table table-sm table-hover text-center">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Data</</th>
                    <th scope="col">Valor primeira</</th>
                    <th scope="col">Valor demais</</th>
                    <th scope="col">Observacao</</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DataHora</td>
                        <td>@item.ValorPrimeira</td>
                        <td>@item.ValorDemais</td>
                        <td>@item.Observacao</td>
                        <td>
                            <span>
                                 <!-- Editar -->
                                <a asp-action="Edit" asp-controller="Precificacoes" asp-route-id="@item.Id" class="btn btn-sm btn-dark">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                 <!-- Remover -->
                                <a asp-action="Remove" asp-controller="Precificacoes" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
